.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  left: 35%;
  top: 40%;
  /* ne radi ? */
  transform: translate(-50%, -50%);
  width: 30%;
  height: 15%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.modal text{
  align-self: center;
}
.modal button{
  cursor: pointer;
}
.modal button:disabled {
  cursor: not-allowed;
}
.modal input{
  cursor: pointer;
  min-width: 50%;
}
.content {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-around;
}

/* make input look like calendar at first look */
/* .content input {
   height: 100%; 
}
 */
/* @media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}