.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 6% 15% 15% 12% 9.5% 33.5% 8.5%;
  margin: 4px 0px;
  position: relative;
}

.oldDate {
  background-color: rgba(255, 0, 0, 0.548);
  width: 100%;
  display: grid;
  grid-template-columns: 6% 15% 15% 12% 9.5% 33.5% 8.5%;
  margin: 4px 0px;
  position: relative;
}

.wrapper div.field {
  margin: 5px 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.oldDate div.field {
  margin: 5px 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}
.oldDate div.field img {
  max-height: 140%;
  max-width: 100%;
  color: aqua;
}
.wrapper div.field img {
  max-height: 140%;
  max-width: 100%;
  color: aqua;
}

.zavrsiButton {
  margin: 0;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}
.zavrsiButton:hover {
  background-color: aqua;
}
.excv {
  position: absolute;
  left: 61%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}

.text {
  font-size: 18px;
  font-family: "Arial";
  text-align: center;
  width: 80%;
}
