.topRow {
  width: 95%;
  display: grid;
  grid-template-columns: 7% 20% 20% 15% 10% 28%;
  margin: 10px 0px;
  background-color: aqua;
  align-self: flex-start;
}
.topRow div.title {
  margin: 5px 20px; 
  /* width: 297.4px; */
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border: 2px solid red;
  /* color: white; */
}
.topRow div.title img {
  max-height: 50%;
  max-width: auto;
  /*   background-color: white; */
  color: aqua;
}
p.symbol {
  cursor: pointer;
}

.text {
  font-size: 18px;
  font-family: "Arial";
}
